<template>
  <div class="task-container">
    <el-card class="task">
      <div class="row">
        <el-row :gutter="5">
          <el-col :md="20" :span="3" >
            <div class="task-title">
              {{ taskData.name }}
            </div>
          </el-col>
          <el-col :md="4" style="text-align: right">
            <el-button type="primary" icon="el-icon-view" size="mini" circle plain @click="openTaskDialog()"/>
            <el-button type="danger" icon="el-icon-delete" size="mini" circle plain @click="dialogRemoveTaskVisible = true"/>
          </el-col>
        </el-row>
      </div>
      <el-divider><i class="el-icon-reading"/></el-divider>
      <div class="task-description">
        {{ taskData.description }}
      </div>
      <el-divider/>
      <div class="task-rodape">
        <i class="el-icon-date"/> {{ formatDate(taskData.created_at) }}
        <i class="el-icon-user"/> {{ taskData.responsible_user_name }}
      </div>
    </el-card>
    <el-dialog
      :visible.sync="dialogRemoveTaskVisible"
      title="Deseja realmente excluir essa tarefa?"
      width="20%">
      <span>Essa operação não poderá ser desfeita. Realmente deseja excluir?</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogRemoveTaskVisible = false">Cancel</el-button>
        <el-button type="primary" @click="removeTask()">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { EventBus } from '../../eventBus'
import moment from 'moment'
import { deleteTask } from '../../api/tasks'

export default {
  props: {
    dialog: {
      type: Boolean,
      required: false,
      default: false
    },
    taskData: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
        dialogRemoveTaskVisible: false
    }
  },
  watch: {},
  created() {},
  methods: {
    openTaskDialog() {
      EventBus.$emit('taskDialog', this.taskData)
    },
    formatDate(date) {
      return moment(date).format('DD/MM/YYYY HH:mm:ss')
    },
    removeTask() {
      return deleteTask(this.taskData.id)
        .then(() => {
          EventBus.$emit('restartTaskBoard')
          this.$message({
            type: 'success',
            message: 'Tarefa excluida com sucesso.'
          })
        })
        .catch(() => {
          this.$message({
            type: 'error',
            message: 'Erro ao excluir tarefa.'
          })
        })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .task {
    margin: 10px 0 10px 0;
    font-family: "DejaVu Sans Light";
  }

  .task.task-view {
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .task-title {
    font-weight: bold;
    font-family: "DejaVu Sans Condensed";
    word-break: break-all;
  }

  .task-rodape {
    font-size: small;
    text-align: right;
  }
</style>
