<template>
  <div class="pointer">
    <el-dialog :visible.sync="dialogVisible" :fullscreen="fullscreen" width="50%" class="pointer">
      <template slot="title">
        <i class="el-icon-reading"/> Detalhe da tarefa
      </template>
      <el-form ref="formTask" :model="form" :rules="rulesTaskForm" class="demo-ruleForm">
        <el-form-item :label-width="dialogWidth" label="Titulo">
          <el-input v-model="form.title" autocomplete="off" placeholder="Defina um titulo"/>
        </el-form-item>
        <el-form-item :label-width="dialogWidth" label="Descrição">
          <el-input
            :rows="4"
            v-model="form.description"
            type="textarea"
            placeholder="Descreva a tarefa"/>
        </el-form-item>
        <el-form-item v-if="form.id" :label-width="dialogWidth" label="Status">
          <el-select v-model="form.status" placeholder="Defina o status">
            <el-option
              v-for="item in optionsTaskStatus"
              :key="item.value"
              :label="item.label"
              :value="item.value"/>
          </el-select>
        </el-form-item>
        <el-form-item :label-width="dialogWidth" label="Responsável">
          <el-select v-model="form.responsible_user" placeholder="Defina um usuário">
            <el-option
              v-for="item in userslist"
              :key="item.value"
              :label="item.label"
              :value="item.value"/>
          </el-select>
        </el-form-item>
        <el-form-item v-if="form.id" :label-width="dialogWidth" label="Usuário criação">
          <el-input v-model="form.create_user" autocomplete="off" placeholder="Usuário criação" disabled/>
        </el-form-item>
        <el-form-item v-if="form.id" :label-width="dialogWidth" label="Data criação">
          <el-input v-model="form.created_at" autocomplete="off" placeholder="Data criação" disabled/>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button :loading="saveLoading" type="primary" @click="saveTask('formTask')">Salvar</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>

import { EventBus } from '../../eventBus'
import { updateTask, insertTask } from '../../api/tasks'
import { listarUsuarios } from '../../api/users'
import moment from 'moment'
import { Message } from 'element-ui'

export default {
  data() {
    return {
      saveLoading: false,
      dialogVisible: false,
      form: {
        id: null,
        title: null,
        description: null,
        status: null,
        create_user_name: null,
        responsible_user_name: null,
        created_at: null,
        create_user: null
      },
      userslist: [],
      optionsTaskStatus: [
        { 'label': 'Aguardando', 'value': 'AWAITING' },
        { 'label': 'Em progresso', 'value': 'IN_PROGRESS' },
        { 'label': 'Pronto', 'value': 'DONE' }
      ],
      fullscreen: true,
      dialogWidth: '130px',
      rulesTaskForm: {
        title: [
          { required: true, message: 'Por favor, preencha o Nome do usuário', trigger: 'blur' }
        ],
        description: [
          { required: true, message: 'Por favor, preencha o Sobrenome do usuário', trigger: 'blur' }
        ]
      }
    }
  },
  watch: {},
  mounted() {
    this.getUsers()
  },
  created() {
    EventBus.$on('taskDialog', (taskData) => {
      this.dialogVisible = true
      this.form = {
        id: taskData.id || null,
        title: taskData.name || null,
        description: taskData.description || null,
        status: taskData.id_status ? taskData.id_status : null,
        responsible_user: taskData.responsible_user_id || null,
        created_at: taskData.created_at ? moment(taskData.created_at).format('DD/MM/YYYY HH:mm:ss') : null,
        create_user: taskData.create_user_name || null
      }
    })
  },
  methods: {
    getUsers() {
      return listarUsuarios()
        .then(({ data: users }) => {
          this.userslist = users.records.map((user) => ({ value: user.id, label: `${user.first_name} ${user.last_name}` }))
        })
    },
    saveTask(form) {
      this.$refs[form].validate((valid) => {
        if (!valid) {
          return false
        }

        let promise
        let message
        this.saveLoading = true

        if (this.form.id) {
          promise = this.updateTaskData()
          message = 'Tarefa atualiza com sucesso.'
        } else {
          promise = this.createTask()
          message = 'Tarefa criada com sucesso.'
        }

        return promise
          .then(() => {
            this.dialogVisible = false
            this.saveLoading = false
            Message({
              message: message,
              type: 'success',
              duration: 3 * 1000
            })
            EventBus.$emit('restartTaskBoard')
          })
          .catch(() => {
            this.saveLoading = false
            Message({
              message: 'Ocorreu algum erro ao executar essa ação, por favor tente novamente.',
              type: 'error',
              duration: 3 * 1000
            })
          })
      })
    },
    createTask() {
      const taskData = {
        name: this.form.title,
        description: this.form.description,
        responsible_user_id: this.form.responsible_user
      }

      return insertTask(taskData)
    },
    updateTaskData() {
      const taskData = {
        name: this.form.title,
        description: this.form.description,
        id_status: this.form.status,
        responsible_user_id: this.form.responsible_user
      }

      return updateTask(this.form.id, taskData)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .pointer {
    cursor: pointer
  }
</style>
