<template>
  <div class="tasks-container">
    <el-container>
      <el-header>
        <h3>Quadro de tarefas</h3>
      </el-header>

      <el-main>
        <el-row :gutter="5">
          <el-card v-loading="loading" class="box-card" shadow="never">
            <div slot="header" class="cdate_receivedlearfix">
              <span class="title"> FILTROS </span>
            </div>
            <div id="taskFilters">
              <el-row :gutter="5">
                <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12" :span="6" style="margin: 10px 0 10px 0">
                  <span>Descrição</span>
                  <el-input v-model="filter.taskDescription" placeholder="Pesquisa por descrição"/>
                </el-col>
                <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12" :span="6" style="margin: 10px 0 10px 0">
                  <span>Data de criação</span>
                  <el-date-picker
                    v-model="filter.createdDate"
                    :default-time="['12:00:00', '08:00:00']"
                    style="width: 100%"
                    type="datetimerange"
                    align="right"
                    start-placeholder="Start Date"
                    end-placeholder="End Date"/>
                </el-col>
              </el-row>
              <el-row :gutter="5">
                <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12" :span="6" style="margin: 10px 0 10px 0">
                  <span>Usuário de criação</span>
                  <el-select v-model="filter.taskCreatedUser" multiple placeholder="Selecione os usuários" style="width: 100%">
                    <el-option
                      v-for="item in users"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"/>
                  </el-select>
                </el-col>
                <el-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12" :span="6" style="margin: 10px 0 10px 0">
                  <span>Usuário responsável</span>
                  <el-select v-model="filter.taskResponsibleUser" multiple placeholder="Selecione os usuários" style="width: 100%">
                    <el-option
                      v-for="item in users"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"/>
                  </el-select>
                </el-col>
              </el-row>
              <el-row :gutter="5">
                <el-col class="right" style="margin: 10px 0 10px 0">
                  <el-button style="float: right" type="primary" @click="taskFilter">Filtrar</el-button>
                </el-col>
              </el-row>
            </div>
          </el-card>
        </el-row>
        <el-divider/>
        <el-row :gutter="5">
          <el-col :span="24" style="margin-bottom: 10px;">
            <el-button style="float: right" type="primary" @click="openTaskDialog()">Nova Tarefa</el-button>
          </el-col>
        </el-row>
        <el-row :gutter="5" :loading="loading">
          <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" :span="6"><task-group-card :task-list="awaitingTasks" group-status="AWAITING" group-name="AGUARDANDO"/></el-col>
          <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" :span="6"><task-group-card :task-list="progressTasks" group-status="IN_PROGRESS" group-name="EM PROGRESSO"/></el-col>
          <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" :span="6"><task-group-card :task-list="doneTasks" group-status="DONE" group-name="FEITO"/></el-col>
        </el-row>
      </el-main>
    </el-container>
    <task-detail />
  </div>
</template>

<script>
import taskCard from '../../components/Task/index'
import taskGroupCard from '../../components/TaskGroup/index'
import TaskDetail from '../../components/TaskDetail'
import { listarUsuarios } from '../../api/users'
import { getTasks } from '../../api/tasks'
import { EventBus } from '../../eventBus'
import { Loading } from 'element-ui'

export default {
  name: 'Tasks',
  components: {
    taskGroupCard,
    taskCard,
    TaskDetail
  },
  data() {
    return {
      loading: false,
      users: [],
      tasks: {
        records: []
      },
      filter: {
        createdDate: null,
        taskDescription: null,
        taskCreatedUser: null,
        taskResponsibleUser: null
      },
      optionsTaskStatus: [
        { 'label': 'Aguardando', 'value': 'AWAITING' },
        { 'label': 'Em progresso', 'value': 'IN_PROGRESS' },
        { 'label': 'Pronto', 'value': 'DONE' }
      ],
      awaitingTasks: { records: [] },
      progressTasks: { records: [] },
      doneTasks: { records: [] }
    }
  },
  computed: {},
  mounted() {
    const setTasks = (filters) => {
      const loadingInstance = Loading.service({ fullscreen: true })
      this.getTaskList(filters).then(({ data: tasks }) => {
        this.awaitingTasks.records = tasks.records.filter((task) => task.id_status === 'AWAITING')
        this.progressTasks.records = tasks.records.filter((task) => task.id_status === 'IN_PROGRESS')
        this.doneTasks.records = tasks.records.filter((task) => task.id_status === 'DONE')
        this.$nextTick(() => { // Loading should be closed asynchronously
          loadingInstance.close()
        })
      })
    }
    this.getUsers().then(({ data: users }) => {
      this.users = users.records.map((user) => ({ label: `${user.first_name} ${user.last_name}`, value: user.id }))
    })

    setTasks()

    EventBus.$on('restartTaskBoard', (filters = null) => {
      setTasks(filters)
    })
  },
  methods: {
    getUsers() {
      return listarUsuarios()
    },
    getTaskList(filters) {
      return getTasks(null, filters)
        .then((tasks) => {
          return tasks
        })
    },
    openTaskDialog() {
      EventBus.$emit('taskDialog', {})
    },
    getStatuses() {
      return [
        { 'label': 'Aguardando', 'value': 'AWAITING' },
        { 'label': 'Em progresso', 'value': 'IN_PROGRESS' },
        { 'label': 'Pronto', 'value': 'DONE' }
      ]
    },
    taskFilter() {
      const filters = {
        description: this.filter.taskDescription,
        responsible_user_id: this.filter.taskResponsibleUser,
        create_user: this.filter.taskCreatedUser,
        create_date: this.filter.createdDate
      }

      EventBus.$emit('restartTaskBoard', filters)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .title {
    font-size: 14px;
    font-weight: bold;
  }
</style>
