<template>
  <div class="dashboard-container">
    <el-row :gutter="15" class="align">
      <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" :span="6" class="align">
        <el-card class="box-card">
          <el-row class="align">
            <el-col style="display: flex; justify-content: center;">
              <div class="title-cards">
                <span>Tarefas aguardando início</span>
              </div>
            </el-col>
          </el-row>
          <el-row class="align" style="display: flex; justify-content: center;">
            <el-col style="display: flex; justify-content: center;">
              <el-progress :percentage="percentage_awaiting_status" :color="percentage_awaiting_color" type="dashboard"/>
            </el-col>
          </el-row>
        </el-card>
      </el-col>

      <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" :span="6">
        <el-card class="box-card" style="display: flex; justify-content: center;">
          <el-row class="align">
            <el-col style="display: flex; justify-content: center;">
              <div class="title-cards">
                <span>Tarefas em progresso</span>
              </div>
            </el-col>
          </el-row>
          <el-row class="align" style="display: flex; justify-content: center;">
            <el-col style="display: flex; justify-content: center;">
              <el-progress :percentage="percentage_in_progress_status" :color="percentage_in_progress_color" type="dashboard"/>
            </el-col>
          </el-row>
        </el-card>
      </el-col>

      <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" :span="6">
        <el-card class="box-card" style="display: flex; justify-content: center;">
          <el-row class="align">
            <el-col style="display: flex; justify-content: center;">
              <div class="title-cards">
                <span>Tarefas finalizadas</span>
              </div>
            </el-col>
          </el-row>
          <el-row class="align" style="display: flex; justify-content: center;">
            <el-col style="display: flex; justify-content: center;">
              <el-progress :percentage="percentage_done_status" :color="percentage_done_color" type="dashboard"/>
            </el-col>
          </el-row>
        </el-card>
      </el-col>
    </el-row>

  </div>
</template>

<script>
import { getDashboardTask } from '../../api/tasks'

export default {
  name: 'Dashboard',
  data() {
    return {
      percentage_awaiting_status: 0,
      percentage_in_progress_status: 0,
      percentage_done_status: 0,
      number_total_tasks: null,
      percentage_awaiting_color: '#b0b3b4',
      percentage_in_progress_color: '#57b2e1',
      percentage_done_color: '#3caa5a'
    }
  },
  created() {
    getDashboardTask().then(({ data: dashboardData }) => {
      if (dashboardData && dashboardData.total_tasks > 0) {
        this.number_total_tasks = dashboardData.total_tasks
        this.percentage_awaiting_status = Math.round((dashboardData.awaiting_status * 100) / this.number_total_tasks)
        this.percentage_in_progress_status = Math.round((dashboardData.in_progress_status * 100) / this.number_total_tasks)
        this.percentage_done_status = Math.round((dashboardData.done_status * 100) / this.number_total_tasks)
      }
    })
  }
}
</script>
total - 100
status - x
<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.title-cards {
    font-weight: bold;
    margin-bottom: 10px;
    color: #545757;
}
</style>
