<template>
  <el-card id="box-card" class="box-card" shadow="never" body-style="{ overflow-y: scroll, max-height: 80vh, padding: 8px }">
    <div slot="header" class="clearfix">
      <span class="title"> {{ groupName }} <el-badge :value="tasks.length" class="item"/></span>
    </div>
    <div v-for="task in tasks" :key="task.id" class="text item">
      <task v-if="tasks.length" :task-data="task"/>
    </div>
  </el-card>
</template>

<script>
import Task from '../Task/index'
// import { getTasks } from '../../api/tasks'
// import { EventBus } from '../../eventBus'
// import moment from 'moment'

export default {
  components: {
    Task
  },
  props: {
    groupName: {
      type: String,
      default: ''
    },
    groupStatus: {
      type: String,
      default: ''
    },
    taskList: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      tasks: []
    }
  },
  watch: {
    'taskList.records'() {
      this.tasks = this.taskList.records
    }
  },
  mounted() {
    this.tasks = this.taskList
  },
  methods: {}
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .box-card.el-card {
    min-height: 80vh;
  }

  ::v-deep .el-card__body:nth-child(2) {
    padding: 8px;
    overflow-y: scroll;
    max-height: 80vh;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
  }
</style>
