<template>
  <div class="dashboard-container">
    <el-card v-loading="tabelaLoading" class="box-card">
      <div slot="header" class="clearfix">
        <span class="titulo-card">USUÁRIOS</span>
      </div>

      <el-row :gutter="20">
        <el-col :span="24" style="text-align: right">
          <router-link to="/usuarios/criar">
            <el-button size="mini" type="primary" icon="el-icon-circle-plus" float="right">Novo</el-button>
          </router-link>
        </el-col>
      </el-row>

      <el-table ref="tabelaUsuario" :data="registrosTabela" style="width: 100%">
        <el-table-column v-for="campos in camposTabela" :key="campos.id" :label="campos.title" :width="campos.width">
          <template slot-scope="scope">
            <div v-html="formataColuna(scope.row, campos)"/>
            <div v-if="acoesTable(campos.name)">
              <el-row :gutter="50">
                <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12" :span="6"><el-button size="mini" icon="el-icon-edit" @click="editarRegistro(scope.$index, scope.row)">Editar</el-button></el-col>
                <el-col :xs="24" :sm="24" :md="24" :lg="12" :xl="12" :span="6"><el-button size="mini" type="danger" icon="el-icon-remove" @click="removerConfirmacao(scope.$index, scope.row)">remover</el-button></el-col>
              </el-row>
            </div>
          </template>
        </el-table-column>
      </el-table>

      <div class="paginacao">
        <el-pagination
          :current-page.sync="paginacao.paginaAtual"
          :page-sizes="[5, 10, 50, 100, 200, 300]"
          :page-size="paginacao.tamanhoPagina || 50"
          :total="paginacao.totalRegistros || 1"
          background
          layout="sizes, prev, pager, next, ->"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"/>
      </div>
    </el-card>
  </div>
</template>

<script>
import { listarUsuarios, removerUsuario } from '@/api/users'

export default {
  name: 'Usuario',
  components: {
    //
  },
  data() {
    return {
      parametrosBusca: {
        //
      },
      tableData: [],
      tabelaLoading: false,
      paginacao: {
        pagina: 1,
        tamanhoPagina: 50
      },
      registrosTabela: null,
      camposTabela: [
        {
          name: 'id',
          title: 'Id',
          width: '70'
        }, {
          name: 'first_name',
          title: 'Nome'
        }, {
          name: 'last_name',
          title: 'Sobrenome'
        }, {
          name: 'email',
          title: 'email'
        }, {
          name: 'created_at',
          title: 'Data de criação'
        }, {
          name: 'updated_at',
          title: 'Data de atualização'
        }, {
          name: '__acoes',
          title: 'Ações'
        }
      ]
    }
  },
  computed: {
    //
  },
  mounted() {
    this.listar()
  },
  methods: {
    formataColuna(dados, campos) {
      const campo = campos.name.split('.')

      if (campo.length >= 2) {
        return dados[campo[0]][campo[1]]
      }
      return dados[campos.name]
    },
    acoesTable(campo) {
      if (campo === '__acoes') {
        return true
      }
    },
    listar() {
      this.tabelaLoading = true
      listarUsuarios(this.paginacao).then((response) => {
        const dados = response.data
        console.log('response.data', response.data)
        if (response.status === 200) {
          this.registrosTabela = dados.records
          this.paginacao.tamanhoPagina = dados.page_size
        }
        this.tabelaLoading = false
      })
      this.registrosTabela = []
    },
    removerConfirmacao(index, dados) {
      this.$confirm('Essa ação não poderá ser desfeita!', ' Deseja remover o usuario: ' + dados.first_name, {
        confirmButtonText: 'remover',
        cancelButtonText: 'Cancelar',
        confirmButtonClass: 'el-button--danger',
        type: 'warning',
        center: true
      }).then(() => {
        // eslint-disable-next-line no-unused-vars
        const removerRegistro = new Promise((resolve) => {
          this.removerRegistro(index, dados).then((resultado) => {
            if (resultado.status === 204) {
              this.$message({
                type: 'success',
                message: 'Usuário removido com sucesso.'
              })
              this.listar()
              return
            }
            this.$message({
              type: 'error',
              message: resultado.data.mensagem
            })
          })
        }, (reject) => {
          this.$message({
            type: 'error',
            message: 'Erro ao remover usuario.'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Ação cancelada.'
        })
      })
    },
    editarRegistro(index, dados) {
      // eslint-disable-next-line no-unused-vars
      const route = '/' + dados.id
      this.$router.replace({ path: '/usuarios/' + dados.id })
    },
    removerRegistro(index, dados) {
      return removerUsuario(dados.id)
    },
    handleSizeChange(val) {
      this.paginacao.tamanhoPagina = val
      this.listar()
    },
    handleCurrentChange(val) {
      this.paginacao.paginaAtual = val
      this.listar()
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .dashboard {
    &-container {
      margin: 30px;
    }
    &-text {
      font-size: 30px;
      line-height: 46px;
    }
  }

  .paginacao {
    float: right;
    margin: 20px 0 20px 0;
  }

  .alinhar-a-direita {
    float: right;
  }

</style>
