<template>
  <div class="dashboard-container">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span class="titulo-card">USUÁRIOS</span>
      </div>

      <el-form ref="form" :model="form" :rules="rulesForm" label-width="120px" class="demo-ruleForm">
        <div class="margin-input">
          <el-form-item label-width="0" prop="nome">
            <el-input v-model="form.first_name" placeholder="Nome">
              <template slot="prepend">Nome</template>
            </el-input>
          </el-form-item>
        </div>

        <div class="margin-input">
          <el-form-item label-width="0" prop="sobrenome">
            <el-input v-model="form.last_name" placeholder="Sobrenome">
              <template slot="prepend">Sobrenome</template>
            </el-input>
          </el-form-item>
        </div>

        <div class="margin-input">
          <el-form-item label-width="0" prop="email">
            <el-input v-model="form.email" :disabled="inputDesativado" placeholder="E-mail">
              <template slot="prepend">E-mail</template>
            </el-input>
          </el-form-item>
        </div>

        <div class="margin-input">
          <el-form-item label-width="0" prop="telefone">
            <el-input v-model="form.phone" placeholder="Telefone">
              <template slot="prepend">Telefone</template>
            </el-input>
          </el-form-item>
        </div>

        <div v-show="!form.id" class="margin-input">
          <el-form-item label-width="0" prop="password">
            <el-input v-model="form.password" placeholder="Senha" type="password">
              <template slot="prepend">Senha</template>
            </el-input>
          </el-form-item>
        </div>

        <div v-show="!form.id" class="margin-input">
          <el-form-item label-width="0" prop="confirmacao_senha">
            <el-input v-model="form.confirmacao_senha" placeholder="Repita a senha para confirmação" type="password">
              <template slot="prepend">Confirmar Senha</template>
            </el-input>
          </el-form-item>
        </div>

        <div class="margin-input">
          <el-switch v-model="form.active" inactive-text="Inativo" active-text="Ativo"/>
        </div>

        <el-row>
          <el-col style="text-align: right">
            <el-button type="primary" size="medium" icon="el-icon-tickets" @click="criarUsuario('form')">Salvar</el-button>
            <el-button type="info" size="medium" icon="el-icon-refresh" plain @click="resetForm('form')">Limpar</el-button>
            <router-link to="/usuarios">
              <el-button type="default" size="medium" icon="el-icon-back">Voltar</el-button>
            </router-link>
          </el-col>
        </el-row>

      </el-form>
    </el-card>
  </div>
</template>

<script>
import { exibirUsuario, criarUsuario, editarUsuario } from '@/api/users'

export default {
  name: 'FormularioUsuario',
  components: {
    //
  },
  data() {
    const senha = (rule, value, callback) => {
      if (!this.form.id) {
        if (value === '') {
          callback(new Error('Senha é obrigatório'))
        } else {
          if (this.rulesForm.confirmacao_senha !== '') {
            this.$refs.form.validateField('confirmacao_senha')
          }
          callback()
        }
      } else {
        if (value === '' || value === undefined) {
          callback(new Error('Senha é obrigatório'))
        }
        callback()
      }
    }
    const confirmacaoSenha = (rule, value, callback) => {
      if (!this.form.id) {
        if (value === '') {
          callback(new Error('Confirmação de senha é obrigatório.'))
        } else if (value !== this.form.password) {
          callback(new Error('Senhas não conferem.'))
        } else {
          callback()
        }
      }
      callback()
    }
    return {
      inputDesativado: false,
      form: {
        id: null,
        first_name: null,
        last_name: null,
        phone: null,
        email: null,
        password: null,
        active: false,
        confirmacao_senha: null
      },
      loading_usuarios: false,
      rulesForm: {
        first_name: [
          { required: true, message: 'Por favor, preencha o Nome do usuário', trigger: 'blur' }
        ],
        last_name: [
          { required: true, message: 'Por favor, preencha o Sobrenome do usuário', trigger: 'blur' }
        ],
        email: [
          { required: true, message: 'Por favor, preencha o e-mail do usuário', trigger: 'blur' },
          { type: 'email', message: 'Por favor, insira um e-mail valido.', trigger: ['blur', 'change'] }
        ],
        password: [
          { validator: senha, trigger: 'blur' }
        ],
        confirmacao_senha: [
          { validator: confirmacaoSenha, trigger: 'blur' }
        ]
      }
    }
  },
  created() {
    this.form.id = (this.$route.params.id) || null
    if (this.form.id) {
      this.inputDesativado = true
      this.exibirDados(this.form.id)
    } else {
      this.rulesForm.password = [
        { validator: this.form.password, trigger: 'blur' }
      ]

      this.rulesForm.confirmacao_senha = [
        { validator: this.form.confirmacao_senha, trigger: 'blur' }
      ]
    }
  },
  methods: {
    criarUsuario(form) {
      this.$refs[form].validate((valid) => {
        if (valid) {
          // atualizar usuario
          if (this.form.id) {
            // busca dados da usuario especifica
            const userData = {
              first_name: this.form.first_name,
              last_name: this.form.last_name,
              phone: this.form.phone
            }
            editarUsuario(this.form.id, userData).then((response) => {
              const dados = response.data
              if (response.status !== 200) {
                this.$message({
                  type: 'error',
                  message: dados.mensagem || 'Erro ao salvar usuario.'
                })
              }
              if (response.status === 200) {
                this.$message({
                  type: 'success',
                  message: 'Usuário atualizado com sucesso.'
                })
                this.$router.push('/users')
                return
              }
              this.$message({
                type: 'error',
                message: dados.mensagem
              })
            })
            return
          }

          // criar nova usuario
          const userData = {
            first_name: this.form.first_name,
            last_name: this.form.last_name,
            email: this.form.email,
            phone: this.form.phone,
            password: this.form.password
          }

          criarUsuario(userData).then((response) => {
            if (response.status !== 201) {
              this.$message({
                type: 'error',
                message: 'Erro ao salvar usuario.'
              })
            }

            if (response.status === 201) {
              this.$message({
                type: 'success',
                message: 'Usuário cadastrado com sucesso.'
              })
              this.$router.push('/users')
              return
            }
            this.$message({
              type: 'error',
              message: 'Erro ao salvar usuário.'
            })
          }).catch((err) => {
            this.$message({
              type: 'error',
              message: err.message || 'Erro ao salvar usuário.'
            })
          })
        } else {
          return false
        }
      })
    },
    exibirDados(id) {
      exibirUsuario(id).then((response) => {
        const resultado = response.data

        if (response.status !== 200) {
          this.$message({
            type: 'error',
            message: resultado.mensagem
          })
          return false
        }

        this.form = resultado
      })
    },
    resetForm(form) {
      this.$refs[form].resetFields()
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .dashboard {
    &-container {
      margin: 30px;
    }
    &-text {
      font-size: 30px;
      line-height: 46px;
    }
  }

  .margin-input {
    margin: 20px 0 20px 0;
  }

  .el-button+.el-button {
    margin-left: 0;
  }
</style>
