<template>
  <div class="dashboard-container">
    <el-table :data="tableEmpresas" style="width: 100%">
      <el-table-column v-for="campos in camposEmpresas" :label="campos.title">
        <template slot-scope="scope">
          {{ scope.row[campos.name] }}
          <div v-if="acoesTable(campos.name)">
            <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">Editar</el-button>
            <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">Apagar</el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page.sync="currentPage2"
      :page-sizes="[100, 200, 300, 400]"
      :page-size="100"
      :total="1000"
      layout="sizes, prev, pager, next"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"/>
  </div>
</template>

<script>
export default {
  name: 'Empresa',
  components: {
    //
  },
  props: {

  },
  data() {
    return {
      parametrosBusca: {
        //
      },
      tableData: [],
      currentPage1: 5,
      currentPage2: 5,
      currentPage3: 5,
      currentPage4: 4,
      tableEmpresas: null,
      camposEmpresas: [
        {
          name: 'razao_social',
          title: 'Razão Social'
        }, {
          name: 'nome_fantasia',
          title: 'Nome Fantasia'
        }, {
          name: 'nome_fantasia',
          title: 'Nome Fantasia'
        }, {
          name: '__acoes',
          title: 'Ações'
        }
      ]
    }
  },
  computed: {
    //
  },
  mounted() {
    this.listar()
  },
  methods: {
    acoesTable(campo) {
      if (campo === '__acoes') {
        return true
      }
    },
    listar() {
      listarEmpresas().then((response) => {
        console.log(response.data.data)
        if (response.status == 200) {
          this.tableEmpresas = response.data.data
        }
      })
    },
    handleEdit(index, row) {
      console.log(index, row)
    },
    handleDelete(index, row) {
      console.log(index, row)
    },
    handleSizeChange(val) {
      console.log(`${val} items per page`)
    },
    handleCurrentChange(val) {
      console.log(`current page: ${val}`)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .dashboard {
    &-container {
      margin: 30px;
    }
    &-text {
      font-size: 30px;
      line-height: 46px;
    }
  }
</style>
